*{
    margin: 0%;
}

/* Setting the background colour of the entire page */
body{
    background-color: #1e355c;
    /* background-image: url("/images/blackjackBackground.png"); */
}

/* Navigation bar CSS */
header{
    background-color: white;
    color: #1e355c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2% 15px 2%;
}

/* Getting rid of text decoration on the big "PlayGames" in navigation bar */
.siteName a{
    text-decoration: none;
    color: #1e355c;
}

/* Navigation bar CSS so list items have no dots*/
.links{
    list-style: none;
}

/*Navigation bar CSS, spacing out the buttons*/
.links li{
    display: inline-block;
    padding: 0px 25px;
}

/*CSS for nav bar text*/
.links li a{
    font-size: 20px;
    color: #1e355c;
    text-decoration: none;
}

/*CSS for nav bar text when hovering*/
.links li a:hover, .siteName:hover{
    color: #658891;
}

/* CSS for content box containing all content */
.contentBox{
    background-color: white;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    height: 750px;
    display: flex;
    flex-direction: column;
}

/* Setting size of cards displayed to player */
#dealerCards img{
    height: 250px;
}

/* Setting size of cards displayed to player */
#playerCards img{
    height: 250px;
}

.buttons{
    margin-top: 30px;
}

/* CSS for modal box that pops up when player wins */
#modalBoxWin{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    display: none;
}

/* CSS for modal box that pops up when player loses */
#modalBoxLose{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    display: none;
}

/* CSS for modal box that pops up when player draws */
#modalBoxDraw{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    display: none;
}

/* CSS for content inside of modal boxes */
.modalContent{
    height: 400px;
    width: 670px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

/* Setting size and CSS for lottie animation inside of modal boxes */
.modalContent lottie-player{
    margin-top: 20px;
    height: 150px;
    width: 100%;
}

/* CSS for score that appears in modal box */
#endScore{
    margin-top: 40px;
}

/* CSS for button to play again in modal box */
#playAgainButton{
    height: 60px;
    margin-top: 55px;
}