*{
    margin: 0%;
}

/* Setting the background colour of the entire page */
body{
    background-color: #1e355c;
    background-image: url("diceBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navigation bar CSS */
header{
    background-color: white;
    color: #1e355c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2% 15px 2%;
}

/* Navigation bar CSS so list items have no dots*/
.links{
    list-style: none;
}

/*Navigation bar CSS, spacing out the buttons*/
.links li{
    display: inline-block;
    padding: 0px 25px;
}

/*CSS for nav bar text*/
.links li a{
    font-size: 20px;
    color: #1e355c;
    text-decoration: none;
}

/* Getting rid of text decoration on the big "PlayGames" in navigation bar */
.siteName a{
    text-decoration: none;
    color: #1e355c;
}

/*CSS for nav bar text when hovering*/
.links li a:hover, .siteName:hover{
    color: #658891;
}

/* CSS for lottie animation inside of contentBox */
lottie-player{
    height: 200px;
}

/* CSS for content box containing all content */
.contentBox{
    background-color: white;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    height: 450px;
    display: flex;
    flex-direction: column;
}

/* CSS for container that contains dice pictures */
.dicePictures{
    height: 200px;
    display: none;
    flex-direction: row;
    justify-content: center;
}

/* CSS for dice pictures that appear */
#diceOnePicture img{
    height: 150px;
    width: 150px;
}

/* CSS for dice pictures that appear */
#diceTwoPicture img{
    height: 150px;
    width: 150px;
}