/* CSS so elements are flush with the browser's edges */
*{
    margin: 0%;
}

/* Setting the background colour of the entire page */
body{
    background-color: #1e355c;
}

/* Navigation bar CSS */
header{
    background-color: white;
    color: #1e355c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2% 15px 2%;
}

/* Getting rid of text decoration on the big "PlayGames" in navigation bar */
.siteName a{
    text-decoration: none;
    color: #1e355c;
}

/* Navigation bar CSS so list items have no dots*/
.links{
    list-style: none;
}

/*Navigation bar CSS, spacing out the buttons*/
.links li{
    display: inline-block;
    padding: 0px 25px;
}

/*CSS for nav bar text*/
.links li a{
    font-size: 20px;
    color: #1e355c;
    text-decoration: none;
}

/*CSS for nav bar text when hovering*/
.links li a:hover, .siteName:hover{
    color: #658891;
}

/* CSS for container that holds main background of site */
.bigBackground{
    position: relative;
    height: fit-content;
    margin-top: -5px;
    margin-bottom: -15px;
}

/* CSS for lottie animation that is in bigBackground */
.bigBackground lottie-player{
    width: 100%;
}

/* CSS for text that is above the lottie animation as part of the main background */
.bigBackground h3{
    position: absolute;
    margin: auto;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19) inset, 0 6px 6px rgba(0,0,0,0.23) inset;
    color: #20345c;
    padding: 25px;
    background-color: white;
    width: fit-content; 
    height: fit-content;
}

/* Changing bootstrap properties so container is flush with browser edges*/
.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}

/* Changing colour on hover on the games' buttons on the bottom of the site */
.container-fluid a:hover{
    color: #658891;
}

/* CSS for each box in the flex container */
.flex-box{
    text-decoration: none;
    color: white;
    display: block;
    height: 350px;
    width: 100%;
    padding: 25px;
    margin: 25px;
    margin: 0px;
    text-align: center;
    background-image: linear-gradient(#1E355c, #38668E);
}

/* Turning opacity down on the minor text explaining game at bottom of site */
.flex-box p {
    color: rgba(255, 255, 255, 0.50);
}

/* CSS for the content in each box in the flex container */
.content{
    padding: 15px 0px 0px 15px;
}

